/* dark.css */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 2em;
}

h1 {
  color: #ffffff;
  font-size: 1.8em;
  margin-bottom: 0em;
}

h4 {
  color: #333333;
  margin-bottom: 3em;
  margin-top: 0em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

a {
  color: #00a2ff;
  text-decoration: none;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.5em;
  transition: 0.1s all;
}

a:hover {
  text-decoration: underline;
  font-family: monospace;
  font-size: 2em;
  color: #00e1ff;
  transition: 0.1s all;
  font-weight: 900;
}

#devlog {
  position: fixed;
  bottom: 10px;
  right: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #888;
  opacity: 0.8;
}

#lavet {
  position: fixed;
  bottom: 10px;
  left: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #525252;
  opacity: 0.8;
}